<!-- Toolbar -->
<div class="mb-3 row">
<div class="card">
  <div class="card-body">
      <form #f="ngForm"  (ngSubmit)="addData(f)">
        <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
        <input type="text" name="nombre" ngModel class="col-sm-10"><br>
        <label for="Apellidos" class="col-sm-2 col-form-label">Apellidos</label>
        <input type="text" name="apellidos" ngModel class="col-sm-10"><br>
        <label for="direccion" class="col-sm-2 col-form-label">Direccion</label>
        <input type="text" name="direccion" ngModel class="col-sm-10"><br>
        <label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
        <input type="text" name="telefono" ngModel class="col-sm-10">
        <button type="submit" class="btn btn-info mb-3 d-grid gap-2 col-6 mx-auto">Guardar</button>
        
      </form>
    </div>
</div>

<ul>
  <li *ngFor="let data of userData | async">
   1. {{data.nombre}} {{data.apellidos}} {{data.direccion}} {{data.telefono}}
   <button (click)="updateData(data.id)" class="btn btn-warning justify-content-md-end m-2" >Editar</button>
   <button (click)="deleteData(data.id)" class="btn btn-danger justify-content-md-end" >Eliminar</button>
</ul>

</div>



<router-outlet></router-outlet>
